         
            
    <div class="row">
              <div class="col-md-6">
              <div class="post">
   				<img src="images/rails1.jpg">
   				<div class="post-content">
   				  <h3>Lorem Ipsum</h3>	
   				  <small>Posted by Farah on May 6, 2017</small>
   				  <p>Disrupt selvage DIY, williamsburg succulents etsy kale chips. Keffiyeh meh man braid, messenger bag roof party farm-to-table letterpress leggings raclette drinking vinegar. Pickled tumeric kombucha, messenger bag portland pitchfork whatever flannel actually williamsburg etsy. DIY jianbing cardigan seitan semiotics, intelligentsia kale chips wayfarers single-origin coffee. 
   				  </p>
   				  <a class="btn btn-primary btn-block">Read More</a>
              </div>
              </div>
              </div>
              <div class="col-md-6">
              <div class="post">
   				<img src="images/rails1.jpg">
   				<div class="post-content">
   				  <h3>Lorem Ipsum</h3>	
   				  <small>Posted by Farah on May 6, 2017</small>
   				  <p>Disrupt selvage DIY, williamsburg succulents etsy kale chips. Keffiyeh meh man braid, messenger bag roof party farm-to-table letterpress leggings raclette drinking vinegar. Pickled tumeric kombucha, messenger bag portland pitchfork whatever flannel actually williamsburg etsy. DIY jianbing cardigan seitan semiotics, intelligentsia kale chips wayfarers single-origin coffee. 
   				  </p>
   				  <a class="btn btn-primary btn-block">Read More</a>	
              </div>	

            </div>
           </div> 
         </div>
         

         <div class="row">
              <div class="col-md-6">
              <div class="post">
   				<img src="images/rails1.jpg">
   				<div class="post-content">
   				  <h3>Lorem Ipsum</h3>	
   				  <small>Posted by Farah on May 6, 2017</small>
   				  <p>Disrupt selvage DIY, williamsburg succulents etsy kale chips. Keffiyeh meh man braid, messenger bag roof party farm-to-table letterpress leggings raclette drinking vinegar. Pickled tumeric kombucha, messenger bag portland pitchfork whatever flannel actually williamsburg etsy. DIY jianbing cardigan seitan semiotics, intelligentsia kale chips wayfarers single-origin coffee. 
   				  </p>
   				  <a class="btn btn-primary btn-block">Read More</a>
              </div>
              </div>
              </div>
              <div class="col-md-6">
              <div class="post">
   				<img src="images/rails1.jpg">
   				<div class="post-content">
   				  <h3>Lorem Ipsum</h3>	
   				  <small>Posted by Farah on May 6, 2017</small>
   				  <p>Disrupt selvage DIY, williamsburg succulents etsy kale chips. Keffiyeh meh man braid, messenger bag roof party farm-to-table letterpress leggings raclette drinking vinegar. Pickled tumeric kombucha, messenger bag portland pitchfork whatever flannel actually williamsburg etsy. DIY jianbing cardigan seitan semiotics, intelligentsia kale chips wayfarers single-origin coffee. 
   				  </p>
   				  <a class="btn btn-primary btn-block">Read More</a>	
              </div>	
             </div> 
            </div>
           </div> 
         </div>        
        <div class="col-md-4">
        	<div class="list-group">
        		<a href="#" class="list-group-item">News</a>
        		<a href="#" class="list-group-item">Tutorials</a>
        		
        		<a href="#" class="list-group-item">Releases</a>
        		<a href="#" class="list-group-item">Events</a>
        	</div>	
        </div>	